{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="container-fluid">
<div class="row" style="text-align:center;">
    <div class="col-md-3 col-sm-3">
      </div>
  <div class="col-md-6 col-sm-6">
    <h3 class="text-dark">{{title}}</h3><br>
    <div class="card">
        <div class="card-body">
    <form  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    {{ form.media }}
    {% if emailError %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Bu email adresi zaten kullanımda.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
          {% endif %}
    <input class="btn btn-primary" type="submit" name="button" value="{{title}}"></input>
    </form>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    </div>
</div>
</div>

{% endblock %}